<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&amp;sensor=false"></script>

<style type="text/css"> 
#map {width:400px;height:200px;}
</style> 

<script type='text/javascript'>
$(document).ready(function() {
     var trace1 = "<%= @route.map_polyline.gsub('\\') { '\\\\' } %>"

    var myOptions = {
        zoom: 20,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
    }
    var map = new google.maps.Map(document.getElementById("map"), myOptions);
        
    var trace = google.maps.geometry.encoding.decodePath(trace1); 
    var decodedLevels = decodeLevels("BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB");

    vol = new google.maps.Polyline({
        strokeColor: "#FF0000",
        strokeOpacity: 1.0,
        strokeWeight: 2,
        map: map
    });

    vol.setPath(trace);
    var bounds = new google.maps.LatLngBounds();
vol.getPath().forEach(function(LatLng) {
   bounds.extend(LatLng);
});
map.fitBounds(bounds);

})

function decodeLevels(encodedLevelsString) {
    var decodedLevels = [];

    for (var i = 0; i < encodedLevelsString.length; ++i) {
        var level = encodedLevelsString.charCodeAt(i) - 63;
        decodedLevels.push(level);
    }
    return decodedLevels;
}
</script> 


 <div class="grid_5 prefix_1 route">
        <span class="route_name"><a href="<%=@route.url %>"><%=@route.name %></a></span>
        <ul class="unbulleted route_info" >
            <li class="test">Distance: <%= @route.distance %> miles</li>
            <li>Elevation: <%= @route.elevation %>ft</li>
            
        </ul>
        <div id="map"></div>
            <p class="route_description"><%= @route.description %> </p>
            <p><%= @route.map_polyline %></p>
            <p>{zj|FvaaqNg@`I~MfObLqFfYod@sNsXf@oFrv@oZ~Hgm@rSsNv`@ogAtDgwOpaCnAzY_Sp}Ef@|\\~MpbAz@Pc~@_SkCoFwLnAgh@_I}_A`DyuBkHkdAq_@sDwLc[kC~H{JmF}a@pDaIbVsXjWkMzm@?~z@yzAoApyAkzE}CzOisBkHbBaVnKeLkR_v@{c@wBkHcQg@{c@yJsN}qC{@gY_IgE|EcG|u@a_C?hCfh@oFb`@fOrDve@ka@zJ~MfYjCvBzEkC~RjHlRsDtGaQkCy`@fYoPzTcBf^kW??zJfc@de@zgC|kEnAnvA`IbBdYbe@kCdtOw`@lgA{TzOkH~k@wt@zY{@vGrNfYoZbe@mKwQ|Cf@</p>
     
    </div>