<% if flash[:notice] %>
<div class="grid_12">
	<div class="notice">
     		<%= flash[:notice] %>   			
   	</div>
</div>
<% end %>

<%= form_for @message, :url => { :action => "create" } do |f| %>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
	
	<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

   <div class="field">
    <%= f.label :respond_to_email %><br />
    <%= f.text_field :respond_to_email %>
  </div>

     <div class="field">
    <%= f.label :contents %><br />
    <%= f.text_field :contents %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

