<% if flash[:notice] %>
<div class="grid_12">
	<div class="notice">
     		<%= flash[:notice] %>   			
   	</div>
</div>
<% end %>

<%= form_for @message, :url => { :action => "create" } do |f| %>

<div class="form cf">
    <div class="field" id="name">
     <span class="label">Name</span><span class="important"> *</span><br />
    <%= f.text_field :name %>
  </div>

<div class="field" id="subject">
    <span class="label">Subject</span><span class="important"> *</span><br />
    <td><%= f.select :subject, options_for_select([["Select One", ""], "General Information", "Sponsorship", "Race Information", "Joining the Team", "Website Questions"]) %></td>
  </div>

   <div class="field" id="email">
     <span class="label">Email Address</span><span class="important"> *</span><br />
    <%= f.text_field :respond_to_email %>
  </div>

  <div class="field" id="contents">
      <span class="label">Contents</span><span class="important"> *</span><br />
    <%= f.text_area :contents, :id => "message", :class => "textbox_large" %>
  </div>
</div>


  <div class="actions">
    <%= f.submit "Submit", :id => "submit" %>
  </div>
<% end %>


  <div class="required">
    <span class="important">*</span><span class="label"> Required</span>
  </div>


