<!DOCTYPE html>
<html>
<head>
  <title>CaseCyclingPublic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <%= javascript_include_tag 'bjqs1-3.min.js' %>
  <%= javascript_include_tag 'slider.js' %>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:600,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  
 
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
	<img id="header_logo" src="/assets/header_logo.png" alt="Case Cycling Team">
	<ul class="nav_items dropdown">
			<li class="top_item"><a href="/">HOME</a></li>
			<li class="top_item"><a href="/members">MEMBERS</a></li>
			<li class="top_item"><a href="/blogs">THE BLOG</a></li>
			<li class="top_item"><a href="/sponsors">THE SPONSORS</a></li>
      <li class="top_item"><a href="/routes">THE ROUTES</a></li>
			<li class="top_item"><a href="/clothing">THE CLOTHING</a></li>
			<li class="top_item"><a href="/about">ABOUT US</a></li>
			<li class="top_item"><a href="/contact">CONTACT</a></li>
		</ul>
</div>
<div class="container_12">
	<%= yield %>
</div>


</body>
</html>
